/* Website Styles */

body{
	background-image:url("Images/Backgrounds/connect160.PNG");
	background-color:whiteSmoke;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	line-height:1.6em;

	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 25px;
	margin-left: 150px;
}

	img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: auto;
	}

h1{
  background-color:green;
  color:black;
  font-family:"Arial", Helvetica, sans-serif;
  font-size:25px;
  line-height:1.6em;

	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 25px;
	margin-left: 25px;

	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 25px;
	padding-left: 15px;

	border-top: 25px;
	border-bottom: 25px;
	border-right: 25px;
	border-left: 15px;

text-align:center;

}

h2{
  background-color:green;
  color:black;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  line-height:1.6em;
  margin:0;
}

h3{

	background-color:
	color:black;
	font-family:"Arial", Helvetica, sans-serif;
	font-size:25px;
	line-height:1.6em;
	text-align: center;

	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 25px;
	margin-left: 25px;

	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 25px;
	padding-left: 15px;

	border-top: 25px;
	border-bottom: 25px;
	border-right: 25px;
	border-left: 15px;
}

p{
  background-color:whiteSmoke;
  color:DarkGreen;
  font-family:Arial, Helvetica, sans-serif;
	text-align: center

  margin:0;
}

footer{

	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 25px;
	margin-left: 25px;

	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: auto;
	padding-left: auto;

	border-top: 25px;
	border-bottom: 25px;
	border-right: 25px;
	border-left: 25px;

	text-align: center;

}

.topnav {
	background-color:green;
	color:black;
	overflow: hidden;


	float:
	  color: #f2f2f2;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 25px;
		width: auto;

	}

.SideNav{

	width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: whiteSmoke;
  overflow-x: hidden;
  padding: 8px 0;

	background-color:
	color:black;
	font-family:"Arial", Helvetica, sans-serif;
	font-size:25px;

}

.centerimg{
	float: center;
 	width: 33.33%;
}



/* This was under navbar before
		width: 100%;
	  background-color: #555;
	  overflow: auto; -->
*/

.box {
	font-size: 25px;
	margin: 25px;
	text-align: center;
		background-image:url("Images/Backgrounds/webb-dark.PNG");

	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;

	padding-top: 50px;
	padding-bottom: 25px;
	padding-right: 25px;
	padding-left: 15px;

	border-top: 25px;
	border-bottom: 25px;
	border-right: 25px;
	border-left: 15px;
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

 #water {
  float: left;
}

 #fire {
  align-items: center;
 }

 #earth {
  float: right;
}
